* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(186, 247, 203);
}

.wrong {
    background-color: rgb(248, 181, 181);
}

.logo {
    width: 30px;
    height: 30px;
}

#titulo1 {
    color: white;
    font-size: 3em;
    font-family: "Cabin Sketch", cursive;
}

h3 {
    color: white;
    font-family: "Comfortaa", cursive;
}

.boton-rock {
    padding: 8px;
    color: #fff;
    background-color: #ff69b4;
    border-color: #ff69b4;
    border-radius: 10px;
}
