* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(139, 250, 171);
}

.wrong {
    background-color: rgb(246, 144, 144);
}

.logo {
    width: 30px;
    height: 30px;
}

.titulo1 {
    color: white;
    font-size: 3em;
    font-family: "Cabin Sketch", cursive;
    text-align: center;
}

h3 {
    color: white;
    font-family: "Comfortaa", cursive;
}

.card-title {
    font-size: 3em;
    font-family: "Cabin Sketch", cursive;
}
.results {
    color: #fff;
}

.rockButton,
#start-btn,
#next-btn,
button.btn.mt-3 {
    padding: 2% 5% 2% 5%;
    color: #fff;
    background-color: #ff69b4;
    border-color: #ff69b4;
    border-radius: 10px;
    font-family: "Comfortaa", cursive;
}

.custom-card,
#resultMsg {
    max-width: 600px;
    margin: 0 auto;
}

.band {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

ul.list-group {
    width: 50%;
    margin: 0 auto;
}

p.lead {
    font-size: 1.8em;
    font-family: "Cabin Sketch", cursive;
}
#progress-bar {
    background-color: #ff69b4;
    height: 80px;
}
div.progress {
    height: 25px;
    margin: 20px;
}

div#question.card-text {
    font-family: "Comfortaa", cursive;
    margin-bottom: 30px;
}

label.form-label {
    font-size: 1.2em;
    font-family: "Comfortaa", cursive;
}

small.text-muted {
    filter: drop-shadow(0.5em 0.1em 0.3em white);
}
